@tailwind base;
@tailwind components;
@tailwind utilities;
@layer {
  .centering {
    @apply flex justify-center items-center;
  }
  .container {
    @apply px-[30px] mx-auto;
  }
  .btn {
    @apply bg-[#42b0d1] hover:bg-[#8cdae4] transition-all duration-200;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  background: #181e2a;
  font-family: "Roboto", sans-serif !important;
}
.amr {
  font-family: "Roboto", sans-serif !important;
}
img {
  width: auto;
  height: auto;
}
